n8n/workflows/2.NgocKy-Schedule-Actionn-v1.1.json
{
  "name": "2.NgocKy-Schedule-Actionn-v1.1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://api.ngocky.kael.io.vn/api/service/due-reports",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Get Due Reports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aPOWc2ayoK0ynbh7",
          "name": "NgocKy-Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reports = $json.data || [];\nif (reports.length === 0) return [];\nreturn reports.map(r => ({ json: r }));"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Split Reports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.ngocky.kael.io.vn/api/service/report-data/' + $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Get Report Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "u8GUqGBPMgbve9XE",
          "name": "NgocKy-API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MONTHS = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\nconst DAYS = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"];\nconst priorityEmoji = { URGENT: \"🔴\", HIGH: \"🟠\", MEDIUM: \"🔵\", LOW: \"⚪\" };\nconst projectTypeLabel = { TASK: \"Task\", BUG: \"Bug\", FEATURE: \"Feature\", STORY: \"Story\", EPIC: \"Epic\" };\n\nconst fmtDate = (dateStr) => {\n  if (!dateStr) return \"—\";\n  const vn = new Date(new Date(dateStr).getTime() + 7 * 60 * 60 * 1000);\n  return `${MONTHS[vn.getUTCMonth()]} ${vn.getUTCDate()} (${DAYS[vn.getUTCDay()]})`;\n};\n\nconst fmtMoney = (amount) => {\n  if (amount === null || amount === undefined) return \"—\";\n  return `${new Intl.NumberFormat(\"vi-VN\").format(Math.round(Math.abs(amount)))} ₫`;\n};\n\nconst periodLabel = (s, e) => `${fmtDate(s)} → ${fmtDate(e)}`;\nconst hasSection = (sections, key) => !sections?.length || sections.includes(key);\nconst countDone = (items = []) => items.filter((item) => item.completed).length;\n\nconst pushSection = (parts, title, lines) => {\n  if (!lines.length) return;\n  if (parts.length) parts.push(\"\");\n  parts.push(title);\n  parts.push(...lines);\n};\n\nconst renderGoalProgress = (goal) => {\n  const pct = goal.targetCount > 0 ? Math.round((goal.currentCount / goal.targetCount) * 100) : 0;\n  const icon = goal.completed ? \"✅\" : pct >= 50 ? \"🟡\" : \"⏳\";\n  return `• ${icon} ${goal.title}: ${goal.currentCount}/${goal.targetCount} ${goal.unit || \"times\"}${goal.targetCount > 0 ? ` (${pct}%)` : \"\"}`;\n};\n\nconst renderWeeklySummary = (d) => {\n  const sections = d.sections || [];\n  const parts = [\n    `📊 <b>Weekly Summary</b>`,\n    `📅 ${periodLabel(d.period.start, d.period.end)}`,\n  ];\n\n  if (hasSection(sections, \"GOALS\")) {\n    const goals = d.goals || [];\n    const lines = goals.length\n      ? goals.slice(0, 6).map(renderGoalProgress)\n      : [\"• No active goals\"];\n    pushSection(parts, `🎯 <b>Goals (${countDone(goals)}/${goals.length} completed)</b>`, lines);\n  }\n\n  if (hasSection(sections, \"PROJECT\")) {\n    const done = d.project?.done || [];\n    const inProgress = d.project?.inProgress || [];\n    const lines = [];\n    lines.push(`• Done: ${done.length}`);\n    if (done.length) {\n      done.slice(0, 5).forEach((item) => {\n        const due = item.deadline ? ` – ${fmtDate(item.deadline)}` : \"\";\n        lines.push(`  ◦ ${item.title}${due} <i>[${item.project}]</i>`);\n      });\n      if (done.length > 5) lines.push(`  ◦ … and ${done.length - 5} more`);\n    }\n    lines.push(`• In Progress: ${inProgress.length}`);\n    if (inProgress.length) {\n      inProgress.slice(0, 5).forEach((item) => {\n        const due = item.deadline ? ` – due ${fmtDate(item.deadline)}` : \"\";\n        lines.push(`  ◦ ${item.title}${due} <i>[${item.project}]</i>`);\n      });\n      if (inProgress.length > 5) lines.push(`  ◦ … and ${inProgress.length - 5} more`);\n    }\n    pushSection(parts, `🧩 <b>Project (${d.project?.total ?? done.length + inProgress.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"TASKS\")) {\n    const done = d.tasks?.done || [];\n    const inProgress = d.tasks?.inProgress || [];\n    const lines = [];\n    lines.push(`• Done: ${done.length}`);\n    if (done.length) {\n      done.slice(0, 5).forEach((item) => {\n        const due = item.dueDate ? ` – ${fmtDate(item.dueDate)}` : \"\";\n        lines.push(`  ◦ ${item.title}${due}`);\n      });\n      if (done.length > 5) lines.push(`  ◦ … and ${done.length - 5} more`);\n    }\n    lines.push(`• In Progress: ${inProgress.length}`);\n    if (inProgress.length) {\n      inProgress.slice(0, 5).forEach((item) => {\n        const due = item.dueDate ? ` – due ${fmtDate(item.dueDate)}` : \"\";\n        lines.push(`  ◦ ${item.title}${due}`);\n      });\n      if (inProgress.length > 5) lines.push(`  ◦ … and ${inProgress.length - 5} more`);\n    }\n    pushSection(parts, `✅ <b>Tasks (${d.tasks?.total ?? done.length + inProgress.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"HOUSEWORK\")) {\n    const housework = d.housework || [];\n    const lines = housework.length\n      ? housework.slice(0, 5).map((item) => `• ${item.title}${item.completedDate ? ` – ${fmtDate(item.completedDate)}` : \"\"}`)\n      : [\"• No housework completed\"];\n    pushSection(parts, `🏠 <b>Housework (${housework.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"CALENDAR\")) {\n    const calendar = d.calendar || [];\n    const lines = calendar.length\n      ? calendar.slice(0, 5).map((item) => {\n          const loc = item.location ? ` @ ${item.location}` : \"\";\n          return `• ${item.title} – ${fmtDate(item.startDate)}${loc}`;\n        })\n      : [\"• No calendar events\"];\n    pushSection(parts, `📅 <b>Calendar (${calendar.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"EXPENSES\")) {\n    const expenses = d.expenses || { totalPaid: 0, totalReceived: 0, net: 0 };\n    const netSign = expenses.net >= 0 ? \"+\" : \"-\";\n    const lines = [\n      `• Paid: ${fmtMoney(expenses.totalPaid)}`,\n      `• Received: ${fmtMoney(expenses.totalReceived)}`,\n      `• Net: ${netSign}${fmtMoney(expenses.net)}`,\n    ];\n    pushSection(parts, `💰 <b>Expenses</b>`, lines);\n  }\n\n  if (hasSection(sections, \"ASSETS\")) {\n    const assets = d.assets || [];\n    const lines = assets.length\n      ? assets.slice(0, 5).map((item) => {\n          const desc = item.description ? ` – ${item.description}` : \"\";\n          const cost = item.cost ? ` (${fmtMoney(item.cost)})` : \"\";\n          return `• ${item.asset}: ${item.serviceType}${desc} – ${fmtDate(item.serviceDate)}${cost}`;\n        })\n      : [\"• No asset maintenance records\"];\n    pushSection(parts, `🛠️ <b>Assets (${assets.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"LEARNING\")) {\n    const learning = d.learning || [];\n    const lines = learning.length\n      ? learning.slice(0, 5).map((item) => {\n          const topic = item.topic ? ` <i>[${item.topic}]</i>` : \"\";\n          const progress = typeof item.progress === \"number\" ? ` – ${item.progress}%` : \"\";\n          return `• ${item.title}${topic} – ${item.status || \"IN_PROGRESS\"}${progress}`;\n        })\n      : [\"• No learning updates\"];\n    pushSection(parts, `📘 <b>Learning (${learning.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"IDEAS\")) {\n    const ideas = d.ideas || [];\n    const lines = ideas.length\n      ? ideas.slice(0, 5).map((item) => {\n          const category = item.category ? ` <i>[${item.category}]</i>` : \"\";\n          return `• ${item.title}${category} – ${item.status || \"OPEN\"}`;\n        })\n      : [\"• No idea updates\"];\n    pushSection(parts, `💡 <b>Ideas (${ideas.length})</b>`, lines);\n  }\n\n  return {\n    text: parts.join(\"\\n\"),\n    emailSubject: `📊 Weekly Summary – ${periodLabel(d.period.start, d.period.end)}`,\n  };\n};\n\nconst renderForwardTasks = (d) => {\n  const sections = d.sections || [];\n  const title =\n    d.reportType === \"TODAY_TASKS\"\n      ? \"Today Tasks\"\n      : d.reportType === \"TOMORROW_TASKS\"\n      ? \"Tomorrow Tasks\"\n      : \"Next Week Action Items\";\n\n  const parts = [\n    `📋 <b>${title}</b>`,\n    `📅 ${periodLabel(d.period.start, d.period.end)}`,\n  ];\n\n  if (hasSection(sections, \"GOALS\")) {\n    const goals = d.goals || [];\n    const lines = goals.length\n      ? goals.map((goal) => {\n          const pct = goal.targetCount > 0 ? Math.round((goal.currentCount / goal.targetCount) * 100) : 0;\n          const icon = goal.completed ? \"✅\" : pct >= 50 ? \"🟡\" : \"⏳\";\n          const due = goal.dueDate ? ` – ${fmtDate(goal.dueDate)}` : \"\";\n          return `• ${icon} ${goal.title}: ${goal.currentCount}/${goal.targetCount} ${goal.unit || \"times\"}${due}`;\n        })\n      : [\"• No goals\"];\n    pushSection(parts, `🎯 <b>Goals (${goals.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"PROJECT\")) {\n    const project = d.project || [];\n    const lines = project.length\n      ? project.map((item) => {\n          const emoji = priorityEmoji[item.priority] || \"🔵\";\n          const due = item.deadline ? fmtDate(item.deadline) : \"No deadline\";\n          const type = item.type ? `${projectTypeLabel[item.type] || item.type} • ` : \"\";\n          return `• ${emoji} ${item.title} – ${type}${due} <i>[${item.project}]</i>`;\n        })\n      : [\"• No project items\"];\n    pushSection(parts, `🧩 <b>Project (${project.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"TASKS\")) {\n    const tasks = d.tasks || [];\n    const lines = tasks.length\n      ? tasks.map((item) => {\n          const emoji = priorityEmoji[item.priority] || \"🔵\";\n          return `• ${emoji} ${item.title} – ${fmtDate(item.dueDate)}`;\n        })\n      : [\"• No tasks\"];\n    pushSection(parts, `✅ <b>Tasks (${tasks.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"HOUSEWORK\")) {\n    const housework = d.housework || [];\n    const lines = housework.length\n      ? housework.map((item) => `• ${item.title} – ${fmtDate(item.dueDate)}`)\n      : [\"• No housework due\"];\n    pushSection(parts, `🏠 <b>Housework (${housework.length})</b>`, lines);\n  }\n\n  if (hasSection(sections, \"CALENDAR\")) {\n    const calendar = d.calendar || [];\n    const lines = calendar.length\n      ? calendar.map((item) => {\n          const loc = item.location ? ` @ ${item.location}` : \"\";\n          return `• ${item.title} – ${fmtDate(item.startDate)}${loc}`;\n        })\n      : [\"• No calendar events\"];\n    pushSection(parts, `📅 <b>Calendar (${calendar.length})</b>`, lines);\n  }\n\n  return {\n    text: parts.join(\"\\n\"),\n    emailSubject: `📋 ${title} – ${periodLabel(d.period.start, d.period.end)}`,\n  };\n};\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const d = item.json.data;\n  const user = d.user;\n  let rendered = {\n    text: `📋 <b>${d.reportType || \"Report\"}</b>\\nNo formatter configured.`,\n    emailSubject: `Report for ${user.name}`,\n  };\n\n  if (d.reportType === \"WEEKLY_SUMMARY\" || d.reportType === \"SUMMARY\") {\n    rendered = renderWeeklySummary(d);\n  } else if (\n    d.reportType === \"NEXT_WEEK_TASKS\" ||\n    d.reportType === \"TODAY_TASKS\" ||\n    d.reportType === \"TOMORROW_TASKS\"\n  ) {\n    rendered = renderForwardTasks(d);\n  }\n\n  const emailHtml = rendered.text\n    .replace(/\\n/g, \"<br>\")\n    .replace(/<b>(.*?)<\\/b>/g, \"<strong>$1</strong>\")\n    .replace(/<i>(.*?)<\\/i>/g, \"<em>$1</em>\");\n\n  results.push({\n    json: {\n      telegramText: rendered.text,\n      emailSubject: rendered.emailSubject,\n      emailHtml,\n      telegramChatId: user.telegramChatId,\n      notificationEmail: user.notificationEmail || user.email,\n      notificationChannel: user.notificationChannel,\n      userName: user.name,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Format Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-telegram",
              "leftValue": "={{ $json.notificationChannel }}",
              "rightValue": "EMAIL",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Should Send Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.NGOCKY_TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.telegramChatId, text: $json.telegramText, parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.notificationChannel }}",
              "rightValue": "TELEGRAM",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Should Send Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        432
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        464
      ],
      "id": "1f0ef09f-ac9a-49ed-813b-0ac162f26afd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fromEmail": "cong.bui@wizeline.com",
        "toEmail": "={{ $json.notificationEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "html": "={{ $json.emailHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1456,
        336
      ],
      "id": "71d7d75f-10fe-41ec-b5b3-c537d440fec3",
      "name": "send_email",
      "webhookId": "8b5c8c7c-9cfb-461d-bb38-a57d06b1004a",
      "executeOnce": false,
      "credentials": {
        "smtp": {
          "id": "o7w3oo4mY20TOvjp",
          "name": "CBT_SMTP_account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Due Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Reports": {
      "main": [
        [
          {
            "node": "Split Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Reports": {
      "main": [
        [
          {
            "node": "Get Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Report Data": {
      "main": [
        [
          {
            "node": "Format Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Messages": {
      "main": [
        [
          {
            "node": "Should Send Telegram?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should Send Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Should Send Email?": {
      "main": [
        [
          {
            "node": "send_email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Due Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "326873ca-d5da-46f9-a9c3-124623612f53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84dfe6f660992ab67cbf337f1ca22d0da0cb540f7e6cc22b45ff99532f788940"
  },
  "id": "qxuXJwBX07OFAk6J",
  "tags": []
}